body {
    background-color: #FFF685;
}

#title-section {
    text-align: center;
    color: #0049B7;
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
}

#summary-section {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}

#image {
    width: 200px;
    height: 200px;
}

#search-by-name {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: xx-large;
}

#results-display {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: large;
    position: absolute;
}